SQL_SERVER=
SQL_PORT=
SQL_DATABASE=GearUp
SQL_USERNAME=sa
SQL_PASSWORD=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=

SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

OAUTH_GOOGLE_CLIENT_ID=
